@import "material";

.site-logo {
	display: block;
	width: 160px;
	height: 30px;
	margin-right: 2em;
	background-image: url('images/googletrendslogo.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left 50%;
}